// Variables
$color-fondo: rgb(44, 39, 39);
$color-parrafos: blue;
$font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

// Mixins
@mixin fotos ($float: left, $margin: 100px 0 0 100px) {
    width: 200px;
    height: 200px;
    float: $float;
    margin: $margin;
    object-fit: cover;
    border: 5px groove beige;
    border-radius: 5px;
    &:hover {
        width: 200px;
        height: 200px;
        float: $float;
        margin: $margin;
        object-fit: cover;
        border: 5px groove beige;
        border-radius: 5px;
        box-shadow: 0px 3px 7px 7px rgba(255, 0, 0, .5);
        transition: .5s;
}
}
/* Inicio */

body {
    background-color: $color-fondo;
    width: 100%;
    font-family: rgb(44, 39, 39);
    
}

#carousel {
    display: none;
}

.fotoinicio {
    margin: 0 auto;
    width: 100%;
    height: 45vh;
    object-fit: cover;
    object-position: 0px -135px;
    min-width: 1000px;
    max-height: 1000px;
    
    &:hover {
        margin: 0 auto;
        width: 100%;
        height: 45vh;
        object-fit: cover;
        object-position: 0px -135px;
        box-shadow: 0px 3px 7px 7px rgba(255, 0, 0, .5);
        transition: .5s;
    }

}

.tituloHome {
    font-size: 100px;
    color: $color-parrafos;
    border: 3px solid gray;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    font-family: $font-family;
    letter-spacing: 5px;
    min-width: 800px;  
        &:hover {
            font-size: 100px;
            color: white;
            border: 3px solid black;
            border-radius: 10px;
            text-align: center;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            font-family: $font-family;
            letter-spacing: 5px;
            color: $color-parrafos;
            transition: 1s;
            transform: translate(0px, 3px);
            border-color: black;
    }
}


.barraInicio {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 35px;
    font-size: 30px;
    font-family: $font-family;
    color: $color-parrafos;
    transition: width 5s;
    
    &__botones:hover {

        background-color: black;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 30px;
        font-family: $font-family;
        transition: 1s;
        transform: translate(0px, 3px);
        border-color: gray;
        background-color: black;
    }
    li {
        border: 3px solid black;
        padding: 10px;
        border-radius: 5px;
        background-color: gray;
        color: $color-parrafos;
    }
    
    a {
        color: $color-parrafos;
        text-decoration: none;
    }
}





.axlrose {
    @include fotos ()
}


.appetiteForDestructionLogo {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 25px;
    object-fit: cover;
}


.appetiteForDestructionLogo__imagen {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 25px;
    object-fit: cover;
    border: 5px groove beige;
    border-radius: 5px;
    &:hover {
        width: 400px;
        height: 400px;
        margin: auto;
        margin-top: 25px;
        object-fit: cover;
        border: 5px groove beige;
        border-radius: 5px;
        box-shadow: 0px 3px 7px 7px rgba(255, 0, 0, .5);
        transition: .5s;
    }
}


.slash {
   @include fotos($float:right, $margin: 100px 100px 0 0);
}

.footerpie {
    font-size: 30px;
    font-family: $font-family;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    width: 90%;
    color: $color-parrafos;
    min-width: 800px;

    &:hover {
        font-size: 30px;
        font-family: $font-family;
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 40px;
        border: 3px solid black;
        border-radius: 10px;
        background-color: black;
        width: 90%;
        color: $color-parrafos;
        box-shadow: 0px 3px 7px 7px rgba(255, 0, 0, .5);
        transition: .5s;
    }
}



#navegador {
    display: none;
}


/* Historia */

.tituloBiografia {
    letter-spacing: 5px;
    color: $color-parrafos;
    text-align: center;
    align-items: center;
    font-size: 50px;
    font-family: $font-family;

}

.historia {
    font-size: 30px;
    font-family: $font-family;
    text-align: center;
    margin-top: 50px;
    line-height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    column-count: 2;
    column-gap: 130px;
    column-width: 500px;
    column-rule: 1px solid $color-parrafos;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    color: black;
}

/* Integrantes */

.integrantes {
    font-size: 30px;
    font-family: $font-family;
    text-align: center;
}

.lineaDeTiempo {
    font-size: 200px;
    font-family: $font-family;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -120px;
    line-height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    letter-spacing: 5px;
    text-shadow: 5px 5px black;
    color: $color-parrafos;
}

.lineadeTiempo__Foto {
    margin-top: -120px;
    width: 800px;
    height: 800px;
    object-fit: scale-down;
}

.lineaDeTiempo__parrafos {
    font-size: 30px;
    font-family: $font-family;
    text-align: center;
    margin-top: 50px;
    line-height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    column-count: 2;
    column-gap: 130px;
    column-width: 500px;
    column-rule: 1px solid $color-parrafos;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    justify-content: center;
    color: black;
}

.miembros {
    font-size: 30px;
    font-family: $font-family;
    text-align: center;
    margin-top: 50px;
    line-height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

/* Multimedia */

.bandasTributo {
    margin-top: 100px;
}

.bandasTributo__Titulo {
    text-align: center;
    font-size: 40px;
    color: $color-parrafos;
    background-color: black;
    margin: auto;
    width: 320px;
    border-radius: 5px;
}

.bandasTributo__video1 {
    display: inline-block;
    margin-left: 50px;
    text-align: center;
    font-size: 30px;
    color: $color-parrafos;
    text-decoration: underline black;
}

.bandasTributo__video2 {
    display: inline-block;
    margin-left: 100px;
    text-align: center;
    font-size: 30px;
    color: $color-parrafos;
    text-decoration: underline black;
}

.bandasTributo__video3 {
    display: inline-block;
    margin-left: 50px;
    text-align: center;
    font-size: 30px;
    color: $color-parrafos;
    text-decoration: underline black;
}

.bandasTributo__video4 {
    display: inline-block;
    margin-left: 100px;
    text-align: center;
    font-size: 30px;
    color: $color-parrafos;
    text-decoration: underline black;
}

/* Novedades */

.tituloConciertos {

    color: $color-parrafos;
    text-align: center;

}

.tituloConciertos__fechas {
    list-style: none;
    color: white;

}

.tituloConciertos__fechas-precio {
    justify-content: end;
    display: inline-block;
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
    .navegador-carousel {
        height: 50vh;
        width: 100%;
    }

    .fotos-historia {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        justify-items:center;
        align-items: center;
        place-items: center;
    
    }

  

    #carousel {
        display: inline-block;
        height: 30vh;
        width: 400px;
        margin: 100px 35px;
        position: absolute;
      
    }

    .fotos-historia {
        display: none;
    }

    #navegador {
        display: inline-block;
        margin: 20px;
        font-family: $font-family;
        font-size: 2rem;
    }

    .nav-item {
        margin: 20px;
        border: 3px solid black;
        padding: 10px;
        border-radius: 5px;
        background-color: gray;
        color: $color-parrafos;
        text-align: center;

        &:hover {
            background-color: black;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            color: $color-parrafos;
            transition: 1s;
            transform: translate(0px, 3px);
            border-color: gray;
            background-color: black;
        }
        
    }

    .footerpie {
        margin-top: 260px;
        font-size: 30px;
        font-family: $font-family;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 3px solid black;
        border-radius: 10px;
        background-color: black;
        width: 90%;
        color: $color-parrafos;
        
    }

    nav {
        display: none;
    }

    /* Historia */

    .biografia {
        display: inline-block;
        width: 1000px;
      
    }


/* Multimedia */

   .bandasTributo__video1, .bandasTributo__video2, .bandasTributo__video3, .bandasTributo__video4 {
    width: 900px;
    justify-items: center;
   }

    body {

        width: 1000px;
    }
}